#form1 {
    margin-left: 5vw;
    width: 90vw;
}

.heading-page, .heading-info {
    background-color: grey;
}

.heading-info {
    padding: 2px 0;
}

.heading-page h1, h2 {
    color: white;
}

.heading-text {
    font-size: 20px;
}

input[type=text] {
    border: none;
    width: 250px;
    outline: none;
}

.checkbox-label {
    display: inline-block;
    margin-left: 30vw;
}

.notice {
    margin-right: 5%;
}

.btn-send {
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
html {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
    color: rgba(0, 0, 16, 0.8);
    text-decoration: none;
}

a:hover,
a:active {
    border-bottom: 0.1em solid rgba(0, 0, 16, 0.8);
    color: rgba(0, 0, 16, 0.8);
    text-decoration: none;
}

.notice {
    color: #808080;
    font-size: 90%;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 34.6rem;
}

    header h1 {
        font-size: 2.8em;
    }

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    background-color: rgb(255, 255, 255);
    padding: 0.8rem;
    width: 33rem;
}

.rating-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.4rem 0.8rem;
    width: 100%;
}

.rating-text p {
    color: rgba(0, 0, 16, 0.8);
    font-size: 1.3rem;
    padding: 0.3rem;
}

.rating {
    background-color: rgba(0, 0, 16, 0.8);
    padding: 0.4rem 0.4rem 0.1rem 0.4rem;
    border-radius: 2.2rem;
}

#Button1 {
    padding: 10px;
    background: whitesmoke;
    color: #343e48;
    border: none;
    border-radius: 10px;
}
